# Pazaryeri Güvenlik Stoğu Limiti
MARKETPLACE_SAFETY_BUFFER=1

# Trendyol Pazaryeri API Bilgileri
TRENDYOL_SUPPLIER_ID=
TRENDYOL_API_KEY=
TRENDYOL_API_SECRET=

# Hepsiburada Pazaryeri API Bilgileri
HEPSIBURADA_MERCHANT_ID=
HEPSIBURADA_SECRET_KEY=

# GetirÇarşı Pazaryeri API Bilgileri
GETIR_STORE_ID=
GETIR_SECRET_KEY=

# Yemeksepeti Mahalle API Bilgileri
YEMEKSEPETI_VENDOR_ID=
YEMEKSEPETI_API_KEY=
YEMEKSEPETI_API_SECRET=
